<!-- begin post -->
{% assign author = site.authors[post.author] %}

<div class="blog-grid-item">
    <div class="card h-100">
        <div class="maxthumb">
            <a href="{{ post.url | relative_url }}">
                {% if post.image %}
                    <img class="img-thumb" src="{{ post.image | relative_url }}" alt="{{ post.title }}"> 
                {% endif %}
            </a>
        </div>
        <div class="card-body">
            <h2 class="card-title">
                <a class="text-dark" href="{{ post.url | relative_url }}">{{ post.title }}</a>
            </h2>
            <h4 class="card-text">{{ post.summary | strip_html | truncatewords:30 }}</h4>
        </div>
        <div class="card-footer bg-white">
            <div class="wrapfooter">
                <span class="author-meta">
                <span class="post-name font-weight-bold">{{ author.display_name }}</span> 
                <span class="post-date">{{ post.date | date_to_string }}</span>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
<!-- end post -->