<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% seo %}
    <link href="{{ '/assets/css/prism.css' | relative_url }}" rel="stylesheet">
    <link href="{{ '/assets/css/theme.css' | relative_url }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/plugins.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="stylesheet" href="{{ '/assets/fontawesome-free-5.14.0-web/css/all.css' | relative_url }}">
    <link href="{{ 'images/icon.png' | relative_url }}" rel="icon">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="90">
    
<!-- header -->
<header class="site-header">
    <nav class="navbar navbar-expand-lg transparent-bg static-nav">
        <div class="container">
            <a class="navbar-brand" href="{{ 'index.html' | relative-url }}">
                <h3 class="text-capitalize font-xlight whitecolor"> Alice Xiong </h3>
            </a>
            <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#xenav">
                <span> </span>
                <span> </span>
                <span> </span>
            </button>
            <div class="collapse navbar-collapse" id="xenav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="{{ 'index.html#home' | relative_url }}">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{ 'gallery.html' | relative_url }}">Gallery</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{{ 'blog/index.html' | relative_url }}">Blog</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link pagescroll" href="#contact">CV & Contact</a>
                    </li>
                </ul>
            </div>
        </div>    
    </nav>
</header>
<!-- header -->   


{{ content }}


<!-- Begin Footer
================================================== -->
<section id="contact" class="padding_half">
    <div class="container">
        <div class="text-center padding_bottom_quarter">
            <h2><span class="font-light darkcolor text-center">CV & Contact</span></h2>
        </div>
        <!--Button for resume-->
        <div class="text-center padding_bottom_quarter">
            <button id="myBtn" class="button btnsecondary text-center bg-custom-text">View my CV</button>
            <div id="myModal" class="modal">
                <div class="modal-content">
                <span class="close">&times;</span>
                <!--Need a preview link!-->
                <iframe src="https://drive.google.com/file/d/11zaalcuYzhpvOkz4ZnyClF-a8NAVNRj6/preview" width="640" height="480"></iframe>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 col-sm-12 text-center">
                <ul class="social-icons-simple bottom15 wow fadeInUp" data-wow-delay="300ms">
                <li><a href="https://www.facebook.com/profile.php?id=100005640556969" target="_blank"><i class="fab fa-facebook fa-3x"> </i> </a> </li>
                <li><a href="https://ca.linkedin.com/in/alice-xiong-44aa4b195" target="_blank"><i class="fab fa-linkedin fa-3x"> </i> </a> </li>
                <li><a href="https://github.com/Alice-Xiong" target="_blank"><i class="fab fa-github fa-3x"> </i> </a> </li>
                <li><a href="https://www.youtube.com/channel/UCC2x6yO45MabhNl9opKFwGg" target="_blank"><i class="fab fa-youtube fa-3x"> </i> </a> </li>
                <li><a href="mailto: alice_xiong@outlook.com" target="_blank"><i class="fa fa-envelope fa-3x"> </i> </a> </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-sm-12 text-center text-lg-left">
                Copyright © {{ site.time | date: "%Y" }} {{ site.name }} 
            </div>
            <div class="col-md-6 col-sm-12 text-center text-lg-right">    
                Memoirs Jekyll Theme
            </div>
        </div>
    </div>
</section>
<!-- End Footer
================================================== -->



<!-- Scripts (if you need bootstrap.js, please add it yourself. I didn't use it for performance reasons, it was not needed in this theme)
================================================== -->

<script src="{{ '/assets/js/prism.js' | relative_url }}"></script>
<script src="{{ '/assets/js/theme.js' | relative_url }}"></script>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{{ '/assets/js/jquery-3.1.1.min.js' | relative_url }}"></script>

<!--Bootstrap Core-->
<script src="{{ '/assets/js/popper.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>

<!--to view items on reach-->
<script src="{{ '/assets/js/jquery.appear.js' | relative_url }}"></script>

<!--Equal-Heights-->
<script src="{{ '/assets/js/jquery.matchHeight-min.js' | relative_url }}"></script>

<!--Owl Slider-->
<script src="{{ '/assets/js/owl.carousel.min.js' | relative_url }}"></script>

<!--number counters-->
<script src="{{ '/assets/js/jquery-countTo.js' | relative_url }}"></script>

<!--Parallax Background-->
<script src="{{ '/assets/js/parallaxie.js' | relative_url }}"></script>

<!--Cubefolio Gallery-->
<script src="{{ '/assets/js/jquery.cubeportfolio.min.js' | relative_url }}"></script>

<!--FancyBox popup-->
<script src="{{ '/assets/js/jquery.fancybox.min.js' | relative_url }}"></script>          

<!-- Video Background-->
<script src="{{ '/assets/js/jquery.background-video.js' | relative_url }}"></script>

<!--TypeWriter-->
<script src="{{ '/assets/js/typewriter.js' | relative_url }}"></script> 
    
<!--Particles-->
<script src="{{ '/assets/js/particles.min.js' | relative_url }}"></script>            
        
<!--WOw animations-->
<script src="{{ '/assets/js/wow.min.js' | relative_url }}"></script>
            
<!--Revolution SLider-->
<script src="{{ '/assets/js/revolution/jquery.themepunch.tools.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/revolution/jquery.themepunch.revolution.min.js' | relative_url }}"></script>
<!-- SLIDER REVOLUTION 5.0 EXTENSIONS  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="{{ '/assets/js/revolution/extensions/revolution.extension.actions.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/revolution/extensions/revolution.extension.carousel.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/revolution/extensions/revolution.extension.kenburn.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/revolution/extensions/revolution.extension.layeranimation.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/revolution/extensions/revolution.extension.navigation.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/revolution/extensions/revolution.extension.parallax.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/revolution/extensions/revolution.extension.slideanims.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/revolution/extensions/revolution.extension.video.min.js' | relative_url }}"></script>

<script src="{{ '/assets/js/functions.js' | relative_url }}"></script>
<script src="{{ '/assets/js/custom.js' | relative_url }}"></script>

<!-- Delete this one to remove camera icon and get overlays back -->
<script src="{{ '/assets/js/jquery.min.js' | relative_url }}"></script>

</body>
</html>
